*{
box-sizing:border-box;
font-family:Arial, sans-serif;
}


body{

margin:0;
height:100vh;
background:#000;
display:flex;
justify-content:center;
align-items:center;

}



.app{

width:100%;
max-width:420px;
height:100vh;
background:#111;
display:flex;
flex-direction:column;

}



header{

padding:20px;
text-align:center;
border-bottom:1px solid #333;

}


header h1{

color:white;
margin:0;

}


header p{

color:#aaa;

}



#chat-box{

flex:1;
padding:15px;
overflow-y:auto;

}



.message{

padding:12px;
margin-bottom:15px;
border-radius:15px;
max-width:85%;
line-height:1.5;

}



.bot{

background:#222;
color:white;

}



.user{

background:#444;
color:white;
margin-left:auto;

}



.quick-buttons{

display:flex;
gap:8px;
overflow-x:auto;
padding:10px;

}


.quick-buttons button{

background:#222;
color:white;
border:1px solid #444;
padding:10px;
border-radius:20px;
white-space:nowrap;

}



.input-area{

display:flex;
padding:15px;
gap:10px;

}



.input-area input{

flex:1;
background:#222;
border:none;
color:white;
padding:15px;
border-radius:25px;
outline:none;

}



.input-area button{

width:50px;
border-radius:50%;
border:none;
background:white;
font-size:20px;

}
.logo{
    width:70px;
    height:70px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:10px;
    
}
.welcome{

text-align:center;
padding:40px 20px;
color:white;

}


.main-logo{

width:100px;
height:100px;
border-radius:50%;
object-fit:cover;
margin-bottom:20px;

}



.welcome h2{

font-size:30px;
margin-bottom:10px;

}



.welcome p{

color:#aaa;
line-height:1.5;

}



.auth-buttons{

display:flex;
flex-direction:column;
gap:12px;
margin-top:30px;

}



.auth-buttons button{

height:50px;
border-radius:30px;
font-size:16px;
font-weight:bold;
cursor:pointer;

}



.signup{

background:white;
color:black;
border:none;

}



.login{

background:#1f1f1f;
color:white;
border:1px solid #444;

}



.small-text{

font-size:13px;
margin-top:25px;

}

.auth-page{

text-align:center;
padding:30px;
color:white;

}


.auth-page input{

width:100%;
padding:15px;
margin:8px 0;
border-radius:25px;
border:none;
background:#222;
color:white;

}


.auth-page button{

width:100%;
padding:15px;
border-radius:25px;
border:none;
background:white;
font-weight:bold;
margin-top:15px;

}


.auth-page p{

color:#aaa;
cursor:pointer;

}


.hidden{

display:none;

}
